@import '../../../styles/utils';

.category-wrapper {
  width: 1040px;
  margin: 4rem auto 0 auto;

  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<wide") {
    width: 768px;
  }
  @include media("<large") {
    width: 512px;
  }
  @include media("<medium") {
    width: 100%;
  }
  .category-item {
    font-size: 15px;
    color: $color-gray;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      color: $color-black-1;
      cursor: pointer;
    }
  }
}