@import '../../../styles/utils';


.header {
  .header-content {
    height: 6.5rem;
    width: 1040px;
    margin: 0 auto; // 중앙 정렬


    // 내부 아이템 세로 중앙 정렬
    display: flex;
    align-items: center;

    // 반응형 레이아웃
    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .header-logo {
    width: 80px;
    fill: black;
  }
  .right {
    margin-left: auto;
  }
}